<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1><%= title %></h1>
    <p>์๋ฒ๊ฐ ์์์์ผ๋ก ์ฐ๊ฒฐ๋์์ต๋๋ค!</p>
    <p>MySQL ์ฐ๊ฒฐ ํ์ธ ๋ฉ์์ง๋ฅผ ํฐ๋ฏธ๋์์ ํ์ธํ์ธ์.</p>
    
    <div id="user-status">
        <% if (user) { %>
            <h2>๐ ํ์ํฉ๋๋ค, <%= user.nickname %>๋!</h2>
            <p>๋ก๊ทธ์ธ ์ด๋ฉ์ผ: <%= user.email %></p>
            <a href="/user/logout">๋ก๊ทธ์์</a>
        <% } else { %>
            <h2>๋ก๊ทธ์ธ/ํ์๊ฐ์์ด ํ์ํฉ๋๋ค.</h2>
            <a href="/login">๋ก๊ทธ์ธ</a> | 
            <a href="/join">ํ์๊ฐ์</a>
        <% } %>
    </div>
    <hr>
    <div id="status">
        <h2>๊ฐ๋ฐ ์ํ</h2>
        <ul>
            <li>Express ์๋ฒ: ๊ตฌ๋ ์๋ฃ</li>
            <li>DB ์ฐ๊ฒฐ ๋ฐ ๋ชจ๋ธ: <%= title %></li>
            <li>๋ค์ ๋จ๊ณ: ์ฌ์ฉ์ ์ธ์ฆ (Passport) ๊ตฌํ</li>
        </ul>
    </div>
</body>
</html>